<% include common/header.ejs %>
	<form action="/list/add" method="post">
		<p><input type="text" name="title" /></p>
		<p><textarea name="descriptions"></textarea></p>
		<button type="submit">添加</button>
	</form>
<% include common/footer.ejs %>
