<!DOCTYPE html>
<html>
	<head>
    	<title></title>
  	<link href="http://localhost:3000/stylesheets/index.css?27e7efa0fb72ee146e4e" rel="stylesheet"></head>
  	<body>
	<% if(user){ %>
		<span>你好 <%=user.username %></span>
		<a href="/logout">退出</a>
	<% }else{ %>
		<a href="/login">登录</a>
		<a href="/register">注册</a>
	<% } %>
	<form action="/list" method="get"><input type="search" name="key" /><button>搜索</button></form>
	<% if(user){ %>
		<a href="/list/add">添加</a>
	<% } %>
	
	<div id="app"></div>
	<script type="text/javascript" src="http://localhost:3000/javascripts/index.js?27e7efa0fb72ee146e4e"></script></body>
</html>
