<% include common/header.ejs %>
	<form action="/list" method="get"><input type="search" name="key" /><button>搜索</button></form>
	<% if(user){ %>
		<span>你好 <%=user.username %></span>
		<a href="/list/add">添加</a>
		<a href="/logout">退出</a>
	<% }else{ %>
		<a href="/login">登录</a>
	<% } %>
<% include common/footer.ejs %>
