<!DOCTYPE html>
<html>
	<head>
    	<title></title>

  	<link href="http://localhost:3000/stylesheets/index.css?690f1314107856a8e7f9" rel="stylesheet"></head>
  	<body>
	
	
	<div id="app"><%-data%></div>
	<script type="text/javascript">window.__store = <%-store%></script>
	<script type="text/javascript" src="http://localhost:3000/javascripts/index.js?690f1314107856a8e7f9"></script></body>
</html>
